name: Trigger-All-Workflows  # 主要工作流的名称

on:
  workflow_dispatch:  # 手动触发：通过 GitHub UI 来触发
  schedule:
    - cron: 0 20 * * 5  # 北京时间星期六凌晨4点，定时触发

jobs:
  armv8-lede:
    uses: ./.github/workflows/build-armv8-openwrt.yml
    with:
      source: 'lede'
  armv8-Immortal:
    uses: ./.github/workflows/build-armv8-openwrt.yml
    with:
      source: 'immortalwrt'
  x86-64-lede:
    uses: ./.github/workflows/build-x86-64-openwrt.yml
    with:
      source: 'lede'
      partsize: 2048
  x86-64-Immortal:
    uses: ./.github/workflows/build-x86-64-openwrt.yml
    with:
      source: 'immortalwrt'
      partsize: 2048

  Delete-Old-Workflows:
    uses: ./.github/workflows/delete-old-workflows.yml
    with:
      releases_keep_latest: 5
      workflows_keep_day: 15
